!!! XML
!!!
%html
  %head
    %title= (@domain && @domain.title )|| "Blog: by John F. Miller"
    =partial('partials/links')
  %body.application
    #container
      .header
        .headerimg
          %h1 (@domain && @domain.title )|| "Blog: by John F. Miller"
          %p#tagline= (@domain && @domain.description )|| "Write wht you want post when you wish"
          #mainmenu= partial('partials/menu')
      #main
        .post
          = catch_content :for_layout
      #sidebar  
        = thrown_content?(:sidebar) ? catch_content(:sidebar) : partial('partials/sidebar')
      = partial('partials/footer')
    =partial('partials/admin_menu')