!!! xml
%feed{:xmlns=>"http://www.w3.org/2005/Atom"}
  %title{:type=>"text"}= h @domain[:name]+ "Blog Posts"
  %link{:rel=>"alternate", :type=>"text/html", :href=>absolute_url(:home)}/
  %link{:rel=>"self", :type=>"application/atom+xml", :href=>absolute_url(:feeds,:action=>'atom')}/
  %updated= Time.now.utc.xmlschema
  %author
    %name John F. Miller
    %email emperor@antarestrader.com
  %id tag:blog.antarestrader.com,2009:/feeds/atom.xml/1
  %rights{:type=>"text"} Copyright 2007-#{Time.now.year} John F. Miller.
  -@posts.each do |post|
    %entry
      %title= h post.title
      %id= post.guid
      %updated= post.updated_at.to_time.xmlschema
      %published= post.published_at.to_time.xmlschema
      %link{:rel=>"alternate", :type=>"text/html", :href=>absolute_url(:post,:id=>post.id)}/
      %content{:type=>'text/html', :src=>absolute_url(:post,:id=>post.id)}
      %summary{:type=>'xhtml'}
        %div{:xmlns=>'http://www.w3.org/1999/xhtml'}
          = post.summary
          - if post.extended
            =link_to("read more",absolute_url(:post,:id=>post.id))