!!! xml
%rss{:version=>"2.0"}
  %channel
    %title Antares Trader Blog Posts
    %link= absolute_url(:home)
    %description 
      A blog about Ruby and the development of Antares Trader, an online space trading game
    %language en-us
    %copyright Copyright 2007-#{Time.now.year} John F. Miller.
    %pubDate= Time.now.utc.rfc822
    %managingEditor emperor@antarestrader.com
    %webMaster emperor@antarestrader.com
    %generator Blog -- Ruby blogging software by John F. Miller.  http://github.com/startrader/Blog
    %ttl 240
    - @posts.each do |post|
      %item
        %title= h post.title
        %link= absolute_url(:post,:id=>post.id)
        %description
          = h post.summary
        %author emperor@antarestrader.com
        %guid{:isPermaLink=>"false"}= post.guid
        %pubDate= post.published_at.to_time.rfc822
        
        
        