%div[post]
  .header
    %h2= link_to(post.title, resource(post))
    - if post.published_at
      .date{:value=>post.published_at.to_time.strftime('%m %d, %Y %T %z')}
        - t= local_time(post.published_at)
        %p.day= t.strftime("%A")
        %p.date= t.strftime("%b %d, %Y")
        %p.time= t.strftime("%l:%M %P #{time_zone}")
    - unless post.categories.empty?
      .categories
        %h3 Filed Under:
        - post.categories.each do |category|
          %p= link_to(category.name,resource(category))
  .content
    .summary
      ~ post.summary
    %p.actions
      - if post.extended
        =link_to("read more",resource(post))
      %span.admin
        = link_to("edit",resource(post,'edit'))
        = link_to("delete", resource(post,:delete))