%div[@post]
  .header
    %h1= @post.new_record? ? "New Post" : @post.title
    %p
      %strong= @post.state
    %p= local_time(@post.published_at || @post.updated_at || Time.now.utc).strftime("%A <br/> %b %d, %Y<br/> %l:%M %P #{time_zone}")
  .content
    -unless @post.errors.empty?
      %p.errors 
        There were some errors in your post:
        = @post.errors.full_messages.join('.  ')
    = form_for(@post, :action=>@action) do
      %p= text_field :title, :label => "title", :size=>61
      %p~ text_area :text, :label => "text", :cols=>70, :rows=>20
      = fieldset :legend=>"Categories" do
        %ul
          - @categories.each do |category|
            %li
              = check_box :name=>'post[category_ids][]', :checked=>(@post.categories.include? category), :label=>category.name, :value=>category.id, :id=>"caregory_ids_#{category.name.downcase.gsub(/\s/,'_')}"
      %p
        = @post.published? ? (submit("Edit")) : (submit("Post")) 
        = submit "Save Draft" unless @post.published?
      %p
        = submit "Publish At"
        = tag :input, :type=>'text', :value=>(@post.published_at ? @post.published_at.strftime("%b %d %Y %I:%M%p") : 'tomorrow'), :name=>'publication_time', :id=>'publication_time'