%div[@post]
  .header
    %h1= @post.title
    - if @post.published_at
      - t= local_time(@post.published_at)
      %p.day= t.strftime("%A")
      %p.date= t.strftime("%b %d, %Y")
      %p.time= t.strftime("%l:%M %P")
  .content
    .text
      ~ @post.to_html
    %p.admin
      = link_to("edit",resource(@post,:edit))
      = link_to("delete", resource(@post,:delete))